body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;    
    align-content: center;
    background-color: #580863;
    color: white;
}

#container {
    background-color: rgb(200, 94, 226);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

#inner-container {
    display: flex;
    align-items: center;
    width: 70vw;
    flex: 1;
    flex-direction: column;
    gap:10px;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    background-color: white;
}
#bottom-ui {
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: #580863;
    border: 5px solid #580863;
}

#buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid-button {
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
}

.grid {
    flex: 0 0 auto;
    border: 1px solid black;
}